<main data-scroll-container class="mx-auto px-2">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Ajouter un arbre de décision
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let question of treeForm.value['QUESTIONS']">
        <form [formGroup]="questionForm">
          <mat-form-field>
            <mat-label>Question {{question.id}}</mat-label>
            <input matInput
                   type="text"
                   formControlName="QUESTION_TITLE"
                   (change)="onQuestionAdd(question.id)"/>
          </mat-form-field>
        </form>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{question.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="answerForm">
            <mat-form-field>
              <mat-label>Réponse</mat-label>
              <input matInput
                     formControlName="ANSWER_LABEL"
                     type="text"
              />
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" (click)="onAnswerAdd(question.id)">Ajouter</button>
          </form>
          <div *ngFor="let submitedAnswer of getSubmitedAnswer(question.id)">
            {{submitedAnswer.title}}
            <button mat-raised-button color="primary" type="button"
                    (click)="onQuestionAddFromAnswer(submitedAnswer.id)">
              Ajouter une question
            </button>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>
</main>
