.home-content {
  font-family: "Chewy", Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 20px auto auto;
  height: 100vh;
}

#home-first-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  font-family: "Chewy", Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgba(218, 215, 215, 0.59);
}

.card-content {
  display: flex;
  justify-content: center;
  width: 50%;

}

#card_logo {
  max-width: 100%;
  max-height: 100%;
}

.home-welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-family: "Chewy", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.3em;

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Chewy", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 2rem;
  }
}

.home-welcome-text span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

button, div, input {
  font-family: "Chewy", Arial, Helvetica, sans-serif !important;
}

.submit-button {
  background: #f73c3b;
  color: white;
  width: auto;
}

@media screen and (max-width: 600px) {
  #card-content {
    display: none;
  }
  #card_logo {
    display: none;
  }

  #home-first-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10% auto;
    height: 70%;
    justify-content: center;
    align-items: center;
  }

  #home-welcome-text {
    width: 100%;
    align-items: center;
  }

  #home-welcome-text span {
    margin: auto 5%;
    text-align: center;
  }
}
