.label-file {
    cursor: pointer;
    color: #f73c3b;
    font-weight: bold;
    font-size: 1.2rem;
}

img {
  display: block;
  max-width:250px;
  max-height:500px;
  width: auto;
  height: auto;
  animation: shake 1s;
  animation-iteration-count: infinite;

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h2 {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
.label-file:hover {
    color: #f73c3b;
}

// et on masque le input
.input-file {
    display: none;
}

#container {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
