<app-header></app-header>
<span id="container">
  <img src="../../../../../assets/f-rouge.png" alt="f-rouge">
  <div class="container-form">
    <h2>Insertion d'arbre de décision</h2>
    <span id="add-pair-textarea-container">
      <input
        id="pomme"
        class="input-file"
        (change)="loadJSON($event)"
        accept="application/json"
        type="file"
      />
      <label class="label-file" for="pomme" (click)="loadJSON($event)"
      >Insérer</label
      >
    </span>
    </div>
    <img src="../../../../../assets/f-gris.png" alt="f-gris">
</span>
